<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="RestTests">
        <classes>
            <class name="ru.stqa.pft.sandbox.EquationTests"/>
            <class name="ru.stqa.pft.sandbox.PointTests"/>
            <class name="ru.stqa.pft.sandbox.PrimeTests"/>
            <class name="ru.stqa.pft.sandbox.SquareTests"/>
        </classes>
    </test>
</suite>